header {
  background-color: #E5E5E5;
  padding: 50px 200px 0px 200px;
}

nav {
  margin-top: 50px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px 10px 10px;
}

nav ul li:first-child {
  border-bottom: 2px #141514 solid;
}

nav ul li a {
  display: block;
  padding: 5px 10px;
  color: #141514;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #CECFCD;
  color: #141514;
}

.logoLink {
  /* border: 1px orange solid */
}

.logo {
  width: 200px;
  height: auto;
}
