@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

header {
  background-color: #E5E5E5;
  padding: 25px 200px 0px 200px;
}

.navigation {
  margin-top: 25px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.navigation ul li {
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px 10px 10px;
}

.nav-active {
  border-bottom: 2px #141514 solid;
}

.navigation ul li a {
  display: block;
  padding: 5px 10px;
  color: #141514;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  border-radius: 5px;
}

.navigation ul li a:hover {
  background-color: #CECFCD;
  color: #141514;
}

.logo {
  width: 200px;
  height: auto;
}

.intro {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px 0;
}

.intro-title {
  font-size: 32px;
  color: #141514;
  font-weight: 500;
  margin-top: 15px;
}

.intro-descript {
  font-size: 17px;
  color: #141514;
  line-height: 180%;
}

.social {
  margin-top: 25px;
}

.social ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social ul li {
  display: inline-block;
}

.social ul li a {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

.social ul li a:hover {
  background-color: #CECFCD;
}

.social ul li a img{
  width: 25px;
  height: 25px;
}

.avatar {
  width: 130px;
  height: 130px;
  border-radius: 50px;
}

hr {
  border-top: 1px #C8C8C8 solid;
}

.blog {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  padding: 25px 0;
}

.blog-list {
  margin-top: 25px;
}

.blog-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.blog-list ul li {
  display: block;
  /* border: 1px sandybrown solid; */
  padding-bottom: 15px;
}

.blog-list ul li a {
  font-size: 20px;
  color: #141514;
  text-decoration: none;
}

.blog-list ul li a:hover {
  color: #3B3D3B;
}

.blog-list ul li p {
  font-size: 14px;
  color: #6E726E;
  text-decoration: none;
}

.blog-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.blog-title {
  font-size: 32px;
  color: #141514;
  margin-bottom: 0;
}

.blog-nav {
  font-size: 17px;
  color: #141514;
  text-decoration: none;
  padding: 0 5px;
  border-radius: 5px;
}

.blog-nav:hover {
  color: #141514;
  background-color: #FCFBFA;
}

footer {
  background-color: #FCFBFA;
  padding: 100px 0;
}

.copyright {
  color: #141514;
  text-align: center;
  font-size: 17px;
}

.tech {
  color: #AAAAAA;
  text-align: center;
  font-size: 14px;
}

.content {
  width: 63%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0;
}

.me-avatar {
  width: 20%;
  height: auto;
  margin-top: 15px;
}

.about-me-title {
  color: #141514;
  font-size: 32px;
  font-weight: bold;
}

.about-label {
  color: #141514;
  font-size: 32px;
}

.about-description {
  color: #141514;
  font-size: 17px;
  line-height: 180%;
}

.about-content {
  margin-top: 32px;
}

/* Extra small devices (phones, less than 600px wide) */
@media only screen and (max-width: 600px) {
  header {
    padding: 25px 20px 0px 20px;
  }

  .intro {
    width: 90%;
  }

  .blog {
    width: 90%;
  }

  .content {
    width: 90%;
    padding: 30px 0;
  }

  .me-avatar {
    width: 100%;
  }

  .navigation ul li {
    padding: 0 0px 10px 0px;
  }
}

/* Small devices (portrait tablets & large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    padding: 25px 30px 0px 30px;
  }

  .intro {
    width: 90%;
  }

  .blog {
    width: 90%;
  }

  .content {
    width: 90%;
    padding: 40px 0;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  header {
    padding: 25px 50px 0px 50px;
  }

  .intro {
    width: 80%;
  }

  .blog {
    width: 80%;
  }

  .content {
    width: 80%;
    padding: 50px 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  header {
    padding: 25px 100px 0px 100px;
  }

  .intro {
    width: 73%;
  }

  .blog {
    width: 75%;
  }

  .content {
    width: 75%;
  }
}
/* Extra large devices (large laptops & desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  header {
    padding: 25px 200px 0px 200px;
  }

  .intro {
    width: 63%;
  }

  .blog {
    width: 63%;
  }

  .content {
    width: 63%;
  }
}